* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c757d;
}

.main-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.left-container {
    width: 25%;
    height: auto;
    background-color: rgb(165, 117, 189);
    position: relative;
}


.in-box {
    background-color: gray;
    width: 85%;
    height: auto;
    margin: 0 12px;
    position: absolute;
    right: 10px;

}

.img-box {
    position: relative;
    background-color: white;
    height: 182px;
    margin: 72px 16px 0px 16px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.img-box img {
    position: absolute;
    width: 123px;
    height: 123px;
    object-fit: cover;
    border-radius: 50%;
    left: calc(50% - 60px);
    bottom: calc(100% - 60px);
    border: 5px solid white;
}

.user-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education-box {
    border: 1px solid white;
    margin-top: 10px;
}

.certificate-box {
    border: 1px solid white;
    margin-top: 10px;
}



.contact-box {
    position: relative;
}

.contact-box span {
    color: white;
    font-size: 24px;
    position: absolute;

}



.linkedin-box {
    display: flex;
    align-items: center;
    border: 1px solid white;
}

.phone-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid white;
    margin-top: 10px;
}


.mail-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid white;
    margin-top: 10px;
}


.github-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid white;
    margin-top: 10px;
}


.instagram-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid white;
    margin-top: 10px;
}


.right-container {
    width: 75%;
    background-color: cornflowerblue;
    height: 100%;

}

.container-wrapper {
    height: 100%;
    border: 1px solid black;
    padding: 40px;
}

a {
    text-decoration: none !important;
    margin-left: 4px;
}

.about-box h3 {
    font-size: 19px;
    padding: 4px 7px;
    background-color: rgba(28, 82, 191, 0.877);
    display: inline;
    color: white;
    border-radius: 10px 0px 10px 0;
}

.about-box p {
    margin: 30px 0;
    font-size: 15px;
    width: 100%;
}

.skill {
    padding: 3px 17px;
    margin: 5px;
    width: 170px;
    background-color: aliceblue;
    border-radius: 0.8rem 0px 0.8rem 0;
    font-weight: 600;
}

.w-100 {
    width: 100%;
}

.hobie-box {
    padding: 1rem 2rem 1rem 1rem;
    background: aliceblue;
    color: #6c6c6c;
    margin-right: 1rem;
    width: 22%;
    font-weight: 600;
}